#media-editor .media-editor-body {
    min-height: 500px;
    height: 500px;
    overflow-y: auto;
}

#media-editor .dragging {
    border: 5px dashed #ddd;
    position: relative;
    overflow: hidden;
}

#media-editor .dragging::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}